.contents.row {
  .content_post {
    margin: 20px 0;
    padding: 30px;
    position: relative;
    height: 400px;
    color: white;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  }
}